# Fichiers objet et sortie compilers
*.S68
*.class
*.deb
*.o
*.obj
*.ppu
# Executables Windows generes par ADACW32 (compilation test)
SAMPLES/ADA/*.exe
SAMPLES/ADA/*.asm
SAMPLES/ADA/*.obj
SAMPLES/ABAP/*.exe
SAMPLES/ABAP/*.asm
SAMPLES/ABAP/*.obj
